/* ----------------------------------------------------- */
/* Tags */
/* ----------------------------------------------------- */

body {
	font-size: 100%;
	background: var(--black);
	color: var(--white);
	font-size: 110%;
}

a {
	border-bottom: 1px solid rgb(49, 116, 163);
	color: var(--primary-light);
	transition: all 119ms ease-in-out;
}

a:hover {
	border-bottom: 1px solid transparent;
}

h1,
h2,
h3 {
	color: var(--white-alt)
}

/* ----------------------------------------------------- */
/* Masthead, Nav */
/* ----------------------------------------------------- */

header.masthead {
	background-color: var(--primary-dark-alt);
}

header.masthead .logo {
	color: var(--white);
}

.main-nav ul li a {
	border-color: transparent;
	background-color: var(--primary-dark);
	color: var(--white);
}

/*Active dropdown nav item */
.main-nav ul li:hover>a {
	background-color: var(--primary-light);
	color: var(--white);
}

/* Selected Dropdown nav item */
.main-nav ul li.selected>a {
	background-color: var(--primary-dark-alt);
	color: var(--white-alt);
}

.main-nav ul li ul {
	background-color: var(--primary-light);
}


/* ----------------------------------------------------- */
/* Utitlities */
/* ----------------------------------------------------- */

.notices.yellow {
	background: #2f2d26;
	border-left: 10px solid #c8bc14;
	color: #dfd213;
}

.notices.red {
	background: #2f2a2a;
	border-left: 10px solid #b52b27;
	color: #df7876;
}

.notices.blue {
	background: #2a2f31;
	border-left: 10px solid #28a1c5;
	color: #6fc4dd;
}

.notices.green {
	background: #2f312f;
	border-left: 10px solid #3d8b3d;
	color: #5cb85c;
}

.mailchimp input.email {
	background: #242424;
	color: white;
}
