/* Core Stuff */
iframe {
	max-width: 100%;
}

pre {
	background: #F0F0F0;
	margin: 1rem 0;
	border-radius: 2px;
}

blockquote {
	border-left: 10px solid #eee;
	margin: 0;
	padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
	margin: 1rem;
}

.wrapper-y {
	margin: 0 1rem;
}

.notices {
	padding: 1px 1px 1px 30px;
	margin: 15px 0;
}

.notices p {
	padding: 1rem;
}

.notices.yellow {
	border-left: 10px solid #f0ad4e;
	background: #fcf8f2;
	color: #df8a13;
}

.notices.red {
	border-left: 10px solid #d9534f;
	background: #fdf7f7;
	color: #b52b27;
}

.notices.blue {
	border-left: 10px solid #5bc0de;
	background: #f4f8fa;
	color: #28a1c5;
}

.notices.green {
	border-left: 10px solid #5cb85c;
	background: #f1f9f1;
	color: #3d8b3d;
}

.left {
	float: left;
}

.right {
	float: right
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* Menu Settings */
.main-nav ul {
	text-align: center;
	letter-spacing: -1em;
	margin: 0;
	padding: 0;
}

.main-nav ul li {
	display: inline-block;
	letter-spacing: normal;
}

.main-nav ul li a {
	position: relative;
	display: block;
	line-height: 45px;
	color: #f7f7f7;
	padding: 0 20px;
	white-space: nowrap;
}

.main-nav>ul>li>a {
	border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover>a {
	background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected>a {
	background-color: #f7f7f7;
	color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {
	position: relative;
}

.main-nav ul li ul {
	position: absolute;
	background-color: #1F8DD6;
	min-width: 100%;
	text-align: left;
	z-index: 999;

	display: none;
}

.main-nav ul li ul li {
	display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
	left: 100%;
	top: 0;
}

/* Active on Hover */
.main-nav li:hover>ul {
	display: block;
}

/* Child Indicator */
.main-nav .has-children>a {
	padding-right: 30px;
}

.main-nav .has-children>a:after {
	font-family: 'Font Awesome 5 Free';
	content: '\f107';
	position: absolute;
	display: inline-block;
	right: 8px;
	top: 0;
}

.main-nav .has-children .has-children>a:after {
	content: '\f105';
}
