{# {% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %} #}
<a href="{{ home_url }}">
	{% if logo %}
	{% set logo_file = (logo|first).name %}
	<img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" />
	{% else %}
	<img src="" alt="{{ site.name }}">
	{% endif %}
</a>
